.journalbox .journaltop {
    color: #000000 !important;
    font-family: Times New Roman, serif;
    text-shadow: 1px 1px #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center !important;
    background-image: url(https://s7.directupload.net/images/user/140801/hhzhvf4p.png);
    background-position: center !important;
    background-repeat: repeat;
    height: 315px;
    max-width: 780px;
}
h2{
  color: #000000;
  font-family: Times New Roman, serif;
  font-size: 28px;
  letter-spacing: 2px;
  left: 1px;
  position: relative;
  text-align: center !important;
  text-shadow: 1px 1px #FFFFFF;
  top: 200px;
}
h2 a{
  color:#000000!important;
  text-shadow: 1px 1px #FFFFFF;
  text-decoration: none;
}
a:hover{
  border: none!important;
  color:#000000!important;
  text-shadow: 1px 1px #F6CEEC;
}
.journalbox {
    background-color: #FFFFFF !important;
    border: 1px solid #FFFFFF;
    max-width: 780px;
    margin-left:auto;
    margin-right:auto;
    background-position: center;
    background-repeat: repeat;
}
.timestamp {display: none;}
.list {display: none;}
.journalbox .journaltext {
    font-family: Times New Roman, serif;
    text-shadow:#F6CEEC 3px 2px 4px; font-size:14px; color:#000000;
    text-align: center;
    background: #FFFFFF;
    background-position: center;
    background-repeat: repeat;
}
.journalbox .journaltext .content {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
background-position: center;
    background-repeat: repeat;
}
.journalbox .journaltop img {
    display: none !important;
background-position: center;
    background-repeat: repeat;
}
.journalbox .boxtop {
    padding: 0 !important;
background-position: center;
    background-repeat: repeat;
}
.journalbox .journalbottom {
    background-image: url(https://s1.directupload.net/images/user/140801/wgcodxme.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 160px;}
.commentslink {
  color: #000000;
  font-family: Times New Roman, serif;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 2px;
  left: 1px;
  position: relative;
  text-align: center !important;
  text-shadow: 1px 1px #FFFFFF;
  top: 80px;
}
.text blockquote {
background: #F6CEEC; 
color: #000000;
margin:10px 10px 10px 10px;
padding: 10px;
font-family: "Times New Roman", serif; font-size: 14px;
text-shadow: #64835c 1px 1px 1px;
box-shadow: #64835c 1px 1px 1px;
border-radius: 0px;
}
hr {
background-image:url(https://s7.directupload.net/images/user/140801/hhzhvf4p.png);
background-repeat: repeat-x;
background-position: center;
border-radius: 15px 15px 15px 15px;
margin:10px 10px 10px 10px;
height: 10px;
border: none;
}
.thumb{text-align: center;}
.thumb .shadow{
background:#FFFFFF!important;
-moz-border-radius: 5px;
display: inline-block;
max-height: 160px; min-width: 100px;
text-align: center !important;
}
.thumb .shadow img{
vertical-align: middle;
border:5px solid #F6CEEC;
background:#FFFFFF;
-moz-border-radius: 5px;
padding:0px;
box-shadow: #F6CEEC 1px 1px 1px;
}
.thumb .shadow img:hover{border-color: #DF01A5;}
.lit 
         {box-shadow: none; background: #FFF0FC; border: #DF01A5 2px solid;
         border-radius: 10px;}
.lit q {left: 0; right: 0; padding: 16px;
        text-align: center;
         font-family: "Times New Roman", serif; 
         font-size: 14px;
         color: #000000;}
.lit img 
         {display: none;}
.Footer{
  bottom: 50px;
  font-size: 14px;
  color: #000000;
  position: absolute!important;
  text-align: left;
}
.Footer a:hover{
  color: #000000;
  font-family: Times New Roman, serif;
  text-decoration: none;
}
/*
! Skin's images are broken
- < blockquote >  B L O C K Q U O T E < / blockquote > (without space)
- < div class="thumb" >  T H U M B < / div > (without space)
- < hr > flowers line (without space)

--Footer Code--
<div class="Footer">
<sub>Journal Skin &#169; <a href="https://www.deviantart.com/inconcabille">inconcabille</a>
Background &#169; <a href="https://www.deviantart.com/dlovatic1">dlovatic1</a>
</sub>
</div>
*/
