/*---------------------STOP! DO NOT COPY THIS CODE!---------------------*/
.sidebar{
    background: #none;     
    clear: center;
    float: center;
    margin-left:125px;
    margin-right:auto;
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    padding-top:15px!important;
    position: absolute!important;
    font-family:'Tahoma';
    color: #FFFFFF;
    letter-spacing:1px;
    font-size:14px;
    text-align:center;
    top: 345px;}
.sidebar a:hover {
    color: #FFFFFF;
    font-family:'Tahoma';
    text-decoration: none;}
.journalbox .journaltop {
    color:transparent !important;
    background-image: url(https://shizoo-design.de/stuff/textures/77.jpg);
    background-position: center !important;
    background-repeat: repeat;
    background-color:transparent;
    height:345px;
    max-width: 800px;}
h2{
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 28px;
    letter-spacing: 2px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center !important;
    background-color:#000000;
    top: 60px;}
h2 a{
    color:#d8fe2f!important;
    letter-spacing: 2px;
    text-decoration: none;}
a:hover{
    border: none!important;
    color:#FFFFFF!important;
    letter-spacing: 2px;
    text-decoration: none;}
.journalbox {
    background-color:#000000;
    border: 0px solid #FFFFFF;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    background-position: center;
    background-repeat: repeat;
}
.timestamp {display: none;}
.list {display: none;}
.journalbox .journaltop img {
    display: none !important;
    background-position: center;
    background-repeat: repeat;}
.journalbox .boxtop {
    padding: 0 !important;
    background-position: center;
    background-repeat: repeat;}
.journalbox .journaltext {
    font-family: Tahoma;
    font-size:13px; 
    color:#FFFFFF;
    text-align: center;
    background-color:#00000;
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: repeat;}
.journalbox .journaltext .content {
     padding-top: 8px;
     background-position: center;
     background-repeat: repeat;}
.journalbox .journalbottom {
    background-image: url(https://shizoo-design.de/stuff/textures/77.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    height: 90px;}
.commentslink {
    color: #d8fe75;
    background-color:#000000;
    padding-left: 280px;
    padding-right: 280px;
    font-family:Tahoma;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 2px;
    position: relative;
    text-align: center !important;
    top: 28px;}
.text blockquote {
     background: #d8fe75; 
     color: #000000;
     font-family: Tahoma; font-size: 12px;
     border: 5px solid #FFFFFF;
     border-radius: 0px;
     background-position: center;
     padding: 15px 10px 15px 10px;
     background-repeat: repeat;}
hr {
     background-image: url(https://shizoo-design.de/stuff/textures/77.jpg);
     background-repeat: repeat-x;
     background-position: center;
     margin:10px 10px 10px 10px;
     height: 10px;
     border: none;}
.thumb{text-align: center;}
.thumb .shadow{
     background:#FFFFFF!important;
     display: inline-block;
     max-height: 160px; min-width: 100px;
     text-align: center !important;}
.thumb .shadow img {
     vertical-align: middle;
     border:4px solid #8eba1f;
     background-image: url(https://shizoo-design.de/stuff/textures/77.jpg);
     padding:0px;
     box-shadow: #000000 1px 1px 1px;}
     
.thumb .shadow img:hover{border-color: #21c7e1;}
.lit {
     box-shadow: none; background: #FFFFFF; 
     border: #8eba1f 4px solid;
     border-radius: 0px;}
.lit q {
     left: 0; right: 0; padding: 16px;
     text-align: center;
     font-family: Tahoma;
     font-size: 12px;
     color: #000000;}
.lit img 
     {display: none;}
a:hover{text-decoration: none;}
a{
     color: #d8fe2f;
     text-decoration: none;}
.Footer{
     bottom: 100px;
     font-size: 12px;
     color: #FFFFFF;
     text-align:center;
     text-decoration: none;}
.Footer a:hover{
     color: #d8fe2f;
     font-family: Tahoma;
     text-decoration: none;}
h1, h3, h4, h5, h6 {
     font-family:'Tahoma';
     text-transform:uppercase;
     color:#000000;
     letter-spacing:2px;
     font-size:18px;
     text-align:center;
     display:inline-block;}
h1 {
     background: #ffffff; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
h3 {
     background: #fdfd7b; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
h4 {
     background: #d8fe2f; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
h5 {
     background: #577f1f; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
h6 {
     background: #56afb5; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
/*
! Artist requests permission before copying
! Skin's images are broken
- < blockquote >  B L O C K Q U O T E < / blockquote > (without space)
- < div class="thumb" >  T H U M B < / div > (without space)
- < hr > Image Color Line (without space)
- < h1 > < /h1 > | < h3 > < /h3 > | < h4 > < /h4 > | < h5 > < /h5 > | < h6 > < /h6 > (without space)

--Header Code--
<div class="sidebar">
<a href="https://inconcabille.deviantart.com">My Profile</a> &#8226; <a href="https://www.deviantart.com/marufuji--ryou/gallery/">My Gallery</a> &#8226; <a href="https://www.deviantart.com/marufuji--ryou/favourites/"> My Favourites</a> &#8226; <a href="https://my.deviantart.com/deviants/add/Inconcabille">Watch me</a> &#8226; <a href="https://my.deviantart.com/notes/?to%3DInconcabille">Note me</a>
</div>
--End Header Code--

--Footer Code--
<br>
<br>
<div class="Footer">
<sub>[ Journal CSS ] &#169; <a href="https://www.deviantart.com/Inconcabille">Inconcabille</a> &#8226; [ Image ] &#169; <a href="https://www.deviantart.com/shizoo-design">shizoo-design</a>
</sub>
</div>
*/
