/*---------------------STOP! DO NOT COPY THIS CODE!---------------------*/
/***************************************************************
Copyright &#169; inconcabille.deviantart.com 
Background &#169; suigintwo.deviantart.com 
Free to use for dA journals. 
Do not redistribute - partly or fully - without my permission.
****************************************************************/
.sidebar{
    background: #none;     
    clear: center;
    float: center;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    margin-top:-160px;
    padding: 1px 1px 1px 1px;
    font-family: 'Montez', cursive;
    color: #000000;
    font-size:18px;
    text-align:right;}
.sidebar a:hover {
    color: #FFFFFF;
    font-family: 'Montez', cursive;
    text-decoration: none;}
a.external:after {display:none!important;}
a {font-weight:normal!important;}
a:hover{text-decoration: none;}
a{color: #000000; text-decoration: none;}
.journalbox .journaltop {
    color:transparent !important;
    background-image: url(https://other00.deviantart.net/4291/o/2015/069/c/9/519271203_2189358_ab1_by_inconcabille-d8l5okl.png);
    -webkit-border-top-left-radius: 200px;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 200px;
    border-top-right-radius: 0px;
    background-position: center !important;
    background-repeat: repeat;
    background-color:#fcdfc6;
    height:366px;
    max-width: 600px;}
h2{
    color: #000000;
    background-color:none;
    font-family: 'Montez', cursive;
    font-size: 28px;
    text-align: right !important;
    position: relative;
    padding-right: 10px;
    top: 100px;}
h2 a{
    color:#000000!important;
    text-decoration: none;}
a:hover{
    border: none!important;
    color:#000000!important;
    text-decoration: none;}
.journalbox {
    background-color:transparent;
    border: 2px solid #FFFFFF;
    border-radius: 200px 0px 0px 0px;
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    background-position: center;
    background-repeat: repeat;}
.timestamp {display: none;}
.list {display: none;}
.journalbox .journaltop img {
    display: none !important;
    background-position: center;
    background-repeat: repeat;}
.journalbox .boxtop {
    padding: 0 !important;
    background-position: center;
    background-repeat: repeat;}
.journalbox .journaltext {
    font-family: 'Muli', sans-serif;
    font-size:13px; 
    color:#000000;
    text-align: center;
    background-color:#fcdfc6;
    background-position: center;
    padding-right: 10px;
    margin-bottom:-10px;
    background-repeat: repeat;}
.journalbox .journaltext .content {
     padding-top: 25px;
     background-position: center;
     background-repeat: repeat;}
.journalbox .journalbottom {
    background-image: url(https://other00.deviantart.net/fb0c/o/2015/069/1/0/519271203_2189359_ab2_by_inconcabille-d8l5ogk.png);
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#fcdfc6;
    max-width: 600px;
    height: 533px;}
.commentslink {
    color: #000000;
    top:100px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montez', cursive;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    text-align: center !important;}
.text blockquote {
     border-style:dashed;
     border-width:2px;
     border-color:#FFFFFF;
     color: #000000;
     font-family: 'Muli', sans-serif;
     font-size: 10px;
     padding: 10px 10px 10px 10px;}
.lit {
     background-image: url(https://other00.deviantart.net/49a8/o/2015/069/6/f/519271203_2189360_ab3_by_inconcabille-d8l5qua.png);
     max-height: 120px; max-width: 140px;}
.lit q {
     left: 0; right: 0; padding: 16px;
     text-align:center; 
     font-family: 'Muli', sans-serif;
     font-size:10px;
     color: #000000;}
.lit img 
     {display: none;}
a:hover{text-decoration: none;}
a{color: #000000; text-decoration: none;}
.Footer{
     bottom: 100px;
     font-size: 12px;
     color: #000000;
     text-align:center;
     text-decoration: none;}
.Footer a:hover{
     color: #000000;
     font-family: 'Muli', sans-serif;
     text-decoration: none;}
h1, h3, h4 {
     font-family: 'Montez', cursive;
     font-size:28px;
     text-align:center;
     display:inline-block;}
h1 {
     color: #ff80ad;
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
h3 {
     color: #ab2b47; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
h4 {
     color: #b15598; 
     background-repeat: repeat-x;
     background-position: center;
     padding-left: 10px;
     padding-right: 10px;
     border: none;}
span.shadow {padding:0px;}
.thumb-holder b {
     display:block;
     background-image: url(https://other00.deviantart.net/12a6/o/2015/069/d/6/519271203_2189361_517343114_2175809_unknown_kopie_by_inconcabille-d8jz314.png);
     font-size:10pt;
     text-align:center;
     margin-top:-10px;}
.thumb-holder .thumb:hover {
     border-bottom:none;}
.thumb-holder .shadow {
     box-shadow:none;
     margin:0px;}
.thumb-holder img {
     background-image: url(https://other00.deviantart.net/12a6/o/2015/069/d/6/519271203_2189361_517343114_2175809_unknown_kopie_by_inconcabille-d8jz314.png);
     border: #f1f0ee 2px solid;
     border-radius:3px;}
.thumb-holder .shadow-holder {
     transition:all 100ms ease-in-out;}
.thumb-holder .shadow-holder:nth-child(4n+1) {
     transform:rotate(24deg) scale(.8,.8);}
.thumb-holder .shadow-holder:nth-child(4n+2) {
     transform:rotate(-24deg) scale(.8,.8);}
.thumb-holder .shadow-holder:nth-child(4n+3) {
     transform:rotate(18deg) scale(.8,.8);}
.thumb-holder .shadow-holder:nth-child(4n+4) {
     transform:rotate(-18deg) scale(.8,.8);}
.thumb-holder .shadow-holder:nth-child(4n+1):hover, .thumb-holder .shadow-holder:nth-child(4n+2):hover, .thumb-holder .shadow-holder:nth-child(4n+3):hover, .thumb-holder .shadow-holder:nth-child(4n+4):hover {
     transform:rotate(0) scale(1,1);
     transition:all 80ms ease-in-out;
     z-index:100;}
/*
! Artist requests permission before copying
- < blockquote >  B L O C K Q U O T E < / blockquote > (without space)
- < div align= " center" >
< div class=" thumb-holder" >  T H U M B < / div >
< / div > (without space)
- < h1 > < /h1 > | < h3 > < /h3 > | < h4 > < /h4 > (without space)

--Header Code--
<div class="sidebar">
<a href="http://#USERNAME.deviantart.com">My Profile</a> &#8226; <a href="http://#USERNAME.deviantart.com/gallery/">My Gallery</a> &#8226; <a href="http://#USERNAME.deviantart.com/favourites/"> My Favourites</a> &#8226; <a href="https://my.deviantart.com/deviants/add/#USERNAME">Watch me</a> &#8226; <a href="https://my.deviantart.com/notes/?to%3D#USERNAME">Note me</a>
</div>
--End Header Code--

--Footer Code--
<div class="Footer">
<sub>[ Journal CSS ] &#169; <a href="https://www.deviantart.com/inconcabille">inconcabille &#8226; [ Background ] &#169; <a href="https://www.deviantart.com/suigintwo">suigintwo </sub>
</div>
*/
