.journalbox { background: #ECE5AF url(https://fc07.deviantart.net/fs71/o/2010/071/d/5/157024118_115074_bodybg.png); border: 1px solid #ECE5AF; font-family: lucida sans, verdana, arial, sans-serif; color: #a3707f; }

.list { display: none; }

.journaltop { background: url(https://fc01.deviantart.net/fs70/o/2010/071/5/2/157024118_115075_headerbg.png) repeat-x center center; height: 235px; text-align: center; font: 0.8em arial, verdana, sans-serif; text-transform: uppercase; padding: 0; }
.journaltop img { display: none; }
.journaltop h2 { padding-top: 100px; text-align: center; margin-bottom: 20px; text-transform: none; font-size: 3em; color: #a3707f; font-weight: bolder; }

.journaltext div.h1 { color: #8dbfc1; font-weight: bolder; margin: 30px auto 20px 15em; }
.journaltext p { margin: 0em 3em 1.5em 3em; text-align: justify; }
.journaltext br { display: none; }
.journaltext a { color: #8dbfc1;  text-decoration: none; font-weight: bolder; }

.sidebar { width: 12em; margin-left: 2em; margin-right: em; }
.sidebar a { display: block; float: left; clear: both; margin-bottom: 1em; }
.sidebar br { display: none; }
.sidebar div.h1 { color: #8dbfc1; font-weight: bolder; margin-left: 0; float: left; clear: both; }

.journalbox dl { margin: 5em 3em 1.5em 3em; background: #ECE5AF; border: 1px solid #ffffff; -moz-border-radius: 10px; padding: 20px; padding-top: 0; }
.journalbox dt { font-weight: bolder; font-size: 1.1em; margin-top: 20px; }
.journalbox dd { font-weight: normal; font-size: 1em; }

.journalbox ul { margin: 5em 3em 1.5em 3em; list-style-type: square; }
.journalbox ul li { margin-bottom: 10px; }

.journalbottom { background: url(https://fc04.deviantart.net/fs70/o/2010/071/6/a/157024118_115076_footerbg.png) no-repeat bottom center; margin: 1em auto 0 auto; height: 235px; color: transparent; }
.commentslink { color: #8dbfc1;  text-decoration: none; font-weight: bolder; display: block; margin-top: 5em; }
.prevlink { color: #8dbfc1;  text-decoration: none; font-weight: bolder; display: block; margin-top: 1em; }
/*
! This skin was not checked for watermarked Photobucket images, incorrectly uploaded images, broken images, text that is difficult to read, and other errors.  It may still need fixing.

You must use <p></p> tags around your content:
<p>Lorem ipsum wah wah wah.</p>
Otherwise, everything will get squished all together and break up the contents all over the place.
For titles:
<div class="h1">Title Text</div>

--Header Code--
<div class="sidebar">
<a href="#"># example link</a>
<a href="#"># example link</a>
<a href="#"># example link</a>
<div class="h1">Sample header</div>
<a href="#"># example link</a>
<a href="#"># example link</a>
<a href="#"># example link</a>
</div>
--End Header Code--
--Footer Code--
*/
