.journalbox {
    background-color: transparent;
    font-size:14px;
    color: #FFFFFF;
    background-image: url(https://fc09.deviantart.net/fs71/o/2010/114/8/a/161847403_123291_rosesgreen.png);
    background-repeat: no-repeat;
    background-position: top left;
    font-family:georgia,serif,tahoma;
    border:0px;
}

.journalbox .list li {
    background-color: transparent;
    color: #6CBD4F;
    font-family:tahoma;
    font-size:10px;
    margin-left:115px;
}

.journalbox .list li.a {
    background-color:transparent;
    color: #6CBD4F;
}


.journalbox h2 {
    color: #6CBD4F;
    font-size:24px;
    font-variant:small-caps;
    font-family:georgia,serif,tahoma;
    margin-top:250px;
}

.journalbox .journaltop {
    font-family:georgia,serif,tahoma;
    background-color: transparent;
    text-align: center;
    color: #6CBD4F;
    font-size:10px;	
	line-height:15px;
	margin-left:150px;
	width:340px;
	color:#6CBD4F;
	text-align:center;
}

.journalbox a {
    color: green;
}

.journalbox a:hover {
    color: white;
}

.journalbox .journalbottom a.commentslink {
    color: #6CBD4F;
}

.journalbox .journalbottom a.prevlink {
    color: #6CBD4F;
}

.journalbox .journalbottom a.commentslink:hover {
    color: #6CBD4F;
}

.journalbox .journalbottom a.prevlink:hover {
    color: #6CBD4F;
}

.journalbox .journaltext .content {
border:3px red solid;}

.journalbox .journalbottom {
    background-color: transparent;
    font-size:10px;
    padding-top: 6px;
    text-align:left;
    margin-left:125px;
}

.journalbox .journaltext {
	margin-left:100px;
	margin-top:10px;
        background-image:url(https://fc07.deviantart.net/fs70/o/2010/114/8/4/161847403_123292_green.png);
-moz-border-radius: 8px;
        border:2px white solid;
	overflow:auto;
	height:400px;
	width:400px;
	padding:20px;
}

.journalbox .journaltop img {
    display: none;
}
.title1
{	font-size:20px;
	font-weight:bold;
	border-bottom:3px white solid;
	color:white;
	text-align:center;
	margin-left:30px;
	margin-right:30px;
}

.credit
{	text-align:center;
	font-family:tahoma;
	font-size:10px;
}
/*
! Skin is sifted down significantly
*/
