a:link {cursor:url(https://fc01.deviantart.net/fs70/o/2011/167/8/a/213448540_272766_scrap___kki_cursor2_by_firstfear-d3j2lcl.gif), pointer;

}

a:hover {cursor:url(https://fc01.deviantart.net/fs70/o/2011/167/8/a/213448540_272766_scrap___kki_cursor2_by_firstfear-d3j2lcl.gif), pointer;

}

body {cursor:url(https://fc01.deviantart.net/fs71/o/2011/167/3/d/213448540_272767_scrap___kki_cursor1_by_firstfear-d3j2l8y.gif), pointer;

}

body {
color: #C93143;
font-size:9pt;
font-family:  Arial, Verdana, Comic Sans MS; 
font-weight:bold;

}

.text strong {
color: #ffffff;
font-family:Comic Sans MS, Verdana, Arial; 
display:block;
font-size: 18px;
text-shadow: #C93143 1px 1px 2px;
padding-bottom: 10px;

}

.text p{
color: #FF5A8A;
font-size: 10px;
font-family:Comic Sans MS, Verdana, Arial; 
background-color:#ffffff;
margin: 10px 10px;
border:1px solid #FF7FAF; 
padding:05px;
-moz-border-radius: 6px;

}

.text blockquote{
background-image: url(https://fc05.deviantart.net/fs70/o/2011/167/0/7/213448540_272768_scrap___kki_quote_by_firstfear-d3j2j9k.png);
background-repeat: no-repeat;
background-position: -05px 0;
color: #ffffff;
text-shadow: #C93143 1px 1px 2px;
font-family:Comic Sans MS, Verdana, Arial; 
font-size: 14px;
margin: 10px ;
padding-left: 40px;
padding-right: 05px;
padding-top: 05px;
padding-bottom: 05px;
background-color:#FFABCB;
border:1px solid #FFABCB; 
-moz-border-radius: 6px;

}

li {
background:url(https://fc07.deviantart.net/fs71/o/2011/167/8/6/213448540_272769_liberry.gif);
background-repeat: no-repeat;
height:20px;
padding-top:3px;
padding-left:20px;
list-style: none;

}

a {
color: #313F3A; font-weight:bold;
text-decoration:none;
font-family:Comic Sans MS; 

}

a:hover{
color: #5D5D66; font-weight:bold;
text-decoration:none;
font-family:Comic Sans MS; 

}

.list {
display:none;

}

.gr{
border:none;

}

.gr-top h2{
color:#4E6054; 
font-family:Comic Sans MS; 
font-weight:bold;
font-size:12px;
background: transparent;
height:0px;

}

.gr-top span{
font-family:Arial;
color: #FF7FAF;
font-size:9pt;
font-weight:bold;
letter-spacing:3px;
background: transparent;
position:relative;
top:270px;
left:125px;
z-index:5;

}

.gr-body{
color: #C93143;
border:none; 
background-color:#DAE4D9; 
background-image: url(https://fc01.deviantart.net/fs71/o/2011/167/b/7/213448540_272770_scrap___kki_bgtile_by_firstfear-d3j2iz1.png);
background-repeat:repeat;
background-position:center top;
border-left:1px solid #A6B2A6; 
border-right:1px solid #A6B2A6; 

}

.journalmargin{
margin-top:-25px; 
padding:5px;
min-height:200px;

}

.header{
position:absolute;
width:100%;
top:0;
left:0;
z-index:4;
background-image: url(https://fc00.deviantart.net/fs71/o/2011/167/d/4/213448540_272771_scrap___kki_top_bg_tile_by_firstfear-d3j2k23.png);
background-repeat:repeat-x;
background-position:center top;

}

.speachbubble{
position:absolute;
top:280px;
left:95px;
z-index:8;

}

.sidemenu {
color: #C93143;
 font-size:10px;
 position:absolute;
 width:128px;
height:100%;
overflow:auto;
margin-top:230px;
 z-index:5;
margin-left:-45px;
padding:10px;

}

.journalcontent {
margin-top:210px;
 margin-left: 65px;
 padding-left:25px;
margin-bottom:-28px;
min-height:850px;

}

.bottom{
padding-top: 10px;
position: absolute;
bottom: -05px;
width: 100%;
font-size: 10px;
background:url(https://fc06.deviantart.net/fs71/o/2011/167/9/a/213448540_272772_scrap___kki_commentsbg_by_firstfear-d3j2j5k.png) repeat-x ;
background-position:center;
z-index:4

}

.bottom a{
color: #FF5A8A; font-weight:bold;
text-decoration:none;
font-family:Comic Sans MS; 

}

.bottom a:hover{
color:  #C93143; font-weight:bold;
text-decoration:none;
font-family:Comic Sans MS; 

}

.bottommenu{
position: relative;
top:-15px;
left:140px 
width:100%;

}

.headers{
top:15px;
position:relative;
z-index:3;

}

.Gallery{
display: block;
width: 67px;
height: 90px;
background: url(https://fc01.deviantart.net/fs71/o/2011/167/3/5/213448540_272773_scrap___kki_gallery_button_by_firstfear-d3j2jjz.png) no-repeat 0 0;

}

.Gallery:hover{ 
background-position: 0 -90px;

}

.Gallery span{
display: none;

}

.Contact{
display: block;
width: 67px;
height: 90px;
background: url(https://fc07.deviantart.net/fs70/o/2011/167/4/d/213448540_272774_scrap___kki_contact_button_by_firstfear-d3j2jom.png) no-repeat 0 0;

}

.Contact:hover{ 
background-position: 0 -90px;

}

.Contact span{
display: none;

}

.Watch{
display: block;
width: 67px;
height: 90px;
background: url(https://fc07.deviantart.net/fs70/o/2011/167/d/e/213448540_272775_scrap___kki_watch_button_by_firstfear-d3j2jui.png) no-repeat 0 0;

}

.Watch:hover{ 
background-position: 0 -90px;

}

.Watch span{
display: none;

}

.Findme{
display: block;
width: 67px;
height: 90px;
background: url(https://fc06.deviantart.net/fs70/o/2011/167/b/1/213448540_272776_scrap___kki_findme_button_by_firstfear-d3j2jr8.png) no-repeat 0 0;

}

.Findme:hover{ 
background-position: 0 -90px;

}

.Findme span{
display: none;

}

.round{
display:block;

}

.round *{
display:block;
height:1px;
overflow:hidden;
background-color:#FFCAE2; 

}

.round1{
border-right:1px solid #FF7FAF;
padding-right:1px;
margin-right:2px;
border-left:1px solid #FF7FAF;
padding-left:1px;
margin-left:2px;
border-top:1px solid #FF7FAF;
position: relative;
top:1px;

}

.round1b{
border-right:1px solid #FF7FAF;
padding-right:1px;
margin-right:2px;
border-left:1px solid #FF7FAF;
padding-left:1px;
margin-left:2px;
border-bottom:1px solid #FF7FAF;
position: relative;
bottom:1px;

}

.round2{
border-right:1px solid #FF7FAF;
border-left:1px solid #FF7FAF;
padding:0px 1px;
margin:0px 1px;

}

.round3{
border-right:1px solid #FF7FAF;
border-left:1px solid #FF7FAF;
margin:0px 1px;

}

.round4{
border-right:1px solid #FF7FAF;
border-left:1px solid #FF7FAF;

}

.round5{
border-right:1px solid #FF7FAF;
border-left:1px solid #FF7FAF;

}

.round_content{
padding:5px 5px;
background-color:#FFCAE2; 
border-right:1px solid #FF7FAF;
border-left:1px solid #FF7FAF;
text-align: left;

}

.bottomround_content{
padding:5px 5px;
background-color:#FFCAE2; 
border-right:1px solid #FF7FAF;
border-left:1px solid #FF7FAF;
text-align: left;

}

.bottomround_content img{
vertical-align: middle; 
border:3px solid #FF5A8A; 
background:none; 
padding:0px;
-moz-border-radius: 6px;
max-height: 75px; 
position: relative;
z-index:4;

}

.bottomround_content a:hover img{
border:2px solid #CA2D41;
margin:1px;
max-height: 75px; 
position: relative;
z-index:5;

}
/*
! Artist does not allow editing any images, including from Photobucket

To place the animated Bouncing Strawberry Divider, use the following code: (making sure to remove all *s from the url)
<div align="center"><img src="[link]">
----------
To place Strong text, use the following code:
(making sure to remove all *s)
<**strong>Text goes here.</strong**>
----------
To place BlockQuote text, use the following code:
(making sure to remove all *s)
<**blockquote>Text goes here.</blockquote**>
----------
To place Highlighted Paragraph text, use the following code:
(making sure to remove all *s)
<**p>Text goes here.</p**>
----------
To place a List of text, use the following code:
(making sure to remove all *s)
<**ul>
<**li>Item 1</li**>
<**li>Item 2</li**>
<**li>Item 3</li**>
</ul**>

--Header Code--
<div class="header" align="center"><img src="https://fc09.deviantart.net/fs70/o/2011/167/8/7/213448540_272777_scrap___kki_header_by_firstfear-d3j2m9i.png"></div><div class="speachbubble"><img src="https://fc01.deviantart.net/fs71/o/2011/167/8/d/213448540_272778_scrap___kki_speechbubble_by_firstfear-d3j2kkq.png"></div>
<div class="sidemenu" align="center">
:iconfirstfear:

<a class="Gallery" href="INSERT URL HERE" title="Gallery"><span>Gallery</span></a>
<a class="Contact" href="INSERT URL HERE" title="Contact"><span>Contact</span></a>
<a class="Findme" href="INSERT URL HERE" title="Find Me"><span>Find Me</span></a>
<a class="Watch" href="INSERT URL HERE" title="+Watch"><span>+Watch</span></a>

INSERT STAMPS HERE

</div>
<div class="journalcontent">
<div class="round"><div class="round1"><div></div></div><div class="round2"><div></div></div><div class="round3"></div><div class="round4"></div><div class="round5"></div></div><div class="round_content"><div class="journalmargin">
--End Header Code--
--Footer Code--
</div></div><div class="round"><div class="round5"></div><div class="round4"></div><div class="round3"></div><div class="round2"><div></div></div><div class="round1b"><div></div></div></div>
<div class="bottommenu"><div class="headers" align="center"><img src="https://fc00.deviantart.net/fs70/o/2011/167/a/2/213448540_272779_scrap___kki_admired_header_by_firstfear-d3j2k8s.png"></div><div class="round"><div class="round1"><div></div></div><div class="round2"><div></div></div><div class="round3"></div><div class="round4"></div><div class="round5"></div></div><div class="bottomround_content">


<div align="center">INSERT FRIENDS HERE</div>


</div><div class="round"><div class="round5"></div><div class="round4"></div><div class="round3"></div><div class="round2"><div></div></div><div class="round1b"><div></div></div></div></div><div class="bottommenu"><div class="headers" align="center"><img src="https://fc09.deviantart.net/fs70/o/2011/167/8/2/213448540_272780_scrap___kki_featured_header_by_firstfear-d3j2kbk.png"></div><div class="round"><div class="round1"><div></div></div><div class="round2"><div></div></div><div class="round3"></div><div class="round4"></div><div class="round5"></div></div><div class="bottomround_content">


<div align="center">INSERT FEATURES HERE</div>


</div><div class="round"><div class="round5"></div><div class="round4"></div><div class="round3"></div><div class="round2"><div></div></div><div class="round1b"><div></div></div></div></div><div class="bottommenu"><div class="headers" align="center"><img src="https://fc04.deviantart.net/fs71/o/2011/167/9/c/213448540_272781_scrap___kki_commissions_header_by_firstfear-d3j2kdm.png"></div><div class="round"><div class="round1"><div></div></div><div class="round2"><div></div></div><div class="round3"></div><div class="round4"></div><div class="round5"></div></div><div class="bottomround_content">


<div align="center">INSERT COMMISSIONS INFO HERE</div>


</div><div class="round"><div class="round5"></div><div class="round4"></div><div class="round3"></div><div class="round2"><div></div></div><div class="round1b"><div></div></div></div></div><div class="bottommenu"><div class="headers" align="center"><img src="https://fc00.deviantart.net/fs70/o/2011/167/5/b/213448540_272782_scrap___kki_requests_header_by_firstfear-d3j2kfj.png"></div><div class="round"><div class="round1"><div></div></div><div class="round2"><div></div></div><div class="round3"></div><div class="round4"></div><div class="round5"></div></div><div class="bottomround_content">


<div align="center">INSERT REQUESTS INFO HERE</div>


</div><div class="round"><div class="round5"></div><div class="round4"></div><div class="round3"></div><div class="round2"><div></div></div><div class="round1b"><div></div></div></div></div></div></div><br>
*/
