.journalbox {
	border-color:none;
	background-image:url(https://fc04.deviantart.net/fs70/o/2011/183/6/a/216293984_278750_kimono_back_by_thedeathofsen-d3kr8nd.png);
	background-position:top center;
	background-repeat:repeat;
	max-width:650px;
	border:none;
	color:#623e2e;
	font-family:Arial Black;
	text-align:center;
	font-variant:small-caps;
	font-weight:lighter;
}
.journaltop h2 img {
	display:none;
}
.journalbox .journaltop {
	background-image:url(https://fc02.deviantart.net/fs71/o/2011/183/2/d/216293984_278751_kimonotop_by_thedeathofsen-d3kr8o7.png);
	background-position:top center;
	background-repeat:no-repeat;
	color:#d7cda4;
	font-family:Arial Black;
	font-size:10px;
	text-align:center;
	font-weight:lighter;
}
.journalbox .journaltop h2 {
	background-color: none;
	border:none;
	max-width:650px;
	background:none;
	border-color:none;
	text-decoration:bold;
	color:#302223;
	font-family:Arial Black;
	font-size:20px;
	padding:743px 80px 290px 225px;
	text-align:center;
	font-variant:normal;
	font-weight:lighter;
}
.journalbox .list {
	background-color:#ccd9c8;
	color:#302223;
	font-family:Arial Black;
	font-size:12px;
	text-align:left;
	font-variant:normal;
	padding:0px 50px 0px 40px;
}
.journalbox .list .a {
	background-color:#ccd9c8;
	color:#302223;
	font-family:Arial Black;
	font-size:12px;
	text-align:left;
	font-variant:normal;
	padding:0px 40px 0px 0px;
}
.journalbox .list strong {
	font-size:10px;
	font-family:Arial Black;
	text-align:right;
	font-variant:normal;
	font-weight:lighter;
}
.journalbox .journaltext {	
	background-color:#442c34;
	color:#ffe7a8;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border:2px solid;
	border-color:#d9cfa5;
	max-width:650px;
	font-family:Arial Black;
	font-size:13px;
	padding: 40px 10px 20px 10px;
	margin: -25px 100px 88px 200px;
	text-align:center;
	font-variant:normal;
	font-weight:lighter;
}
.journalbox .journaltext A:link {
	color:#c25962;
	font-family:Arial Black;
	font-size:12px;
	font-variant:Normal;
	font-weight:lighter;
	text-decoration:underline;
}
.journalbox .journaltext A:active {
	text-decoration:none;
	color:#c25962;
	font-family:Arial Black;
	font-size:12px;
	font-variant:Normal;
	font-weight:ligther;
}
.journalbox .journaltext A:hover {
	color:#c25962;
	font-family:Arial Black;
	font-size:13px;
	font-variant:Normal;
	font-weight:lighter;
	text-decoration:none;
}
.journalbox .journaltext A:visited {
	color:#c25962;
	font-family:Arial Black;
	font-size:12px;
	font-variant:Normal;
	font-weight:lighter;
	text-decoration:none;
}
.journalbox .journalbottom {
	background-image:url(https://fc03.deviantart.net/fs71/o/2011/183/a/6/216293984_278752_kimonobut_by_thedeathofsen-d3kr8nk.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	padding:553px 0px 0px 0px;
	margin: -100px 0px 0px 0px;
	font-family:Arial Black;
	font-size:10px;
	text-align:center;
	font-variant:normal;
	font-weight:lighter;
}
.journalbox .journalbottom A:link {
	text-decoration:none;
	font-family:Arial Black;
	font-size:10px;
	font-variant:Normal;
	font-weight:lighter;
}
.journalbox .journalbottom A:visited {
	text-decoration:none;
	font-family:Arial Black;
	font-size:10px;
	font-variant:Normal;
	font-weight:lighter;
}
.journalbox .journalbottom A:hover {
	font-family:Arial Black;
	font-size:10px;
	font-variant:Normal;
	font-weight:lighter;
	text-decoration:underline;
}
.journalbox .journalbottom A:active {
	background-color:#none;
	font-family:Arial Black;
	font-size:10px;
	font-variant:Normal;
	font-weight:lighter;
	text-decoration:none;
}
.journalbox .commentslink {
	background-color:#none;
	color:#6b493a;
	font-family:Arial Black;
	font-size:10px;
	text-align:center;
	font-variant:normal;
	font-weight:lighter;
}
.journalbox .prevlink {
	background:#none;
	color:#6b493a;
	font-family:Arial Black;
	font-size:10px;
	text-align:center;
	font-variant:normal;
	font-weight:lighter;
}
div.links {
	height:12px;
}

a:link {
cursor:url(https://fc09.deviantart.net/fs71/o/2011/183/0/9/216293984_278753_kilink_copy_by_thedeathofsen-d3krpqa.png), pointer;
}
a:hover {
cursor:url(https://fc09.deviantart.net/fs71/o/2011/183/0/9/216293984_278753_kilink_copy_by_thedeathofsen-d3krpqa.png), pointer;
}
body {
cursor:url(https://fc07.deviantart.net/fs70/o/2011/183/f/8/216293984_278754_kinormal_by_thedeathofsen-d3krpqb.png), pointer;
}
/*
! This skin was not checked for watermarked Photobucket images, incorrectly uploaded images, broken images, text that is difficult to read, and other errors.  It may still need fixing.
*/
