div.journalbox {
      border: 0px; 
      background: #000000 url(https://fc00.deviantart.net/fs71/o/2012/026/a/a/281586337_359887_bodyloop.png) repeat-y left top; 
      text-align: center; 
      cursor: default; 
      width: 578px; 
}

.journaltop {
      border: 0px; 
      background: transparent url(https://fc04.deviantart.net/fs70/o/2012/026/c/6/281586337_359888_journalskinheader.png) no-repeat left bottom; 
      color: #FF6900; 
      font-size: 8px; 
      text-align: center; 
      height: 172px; 
      width: 578px; 
      margin: 0px 0px 0px 0px;
}

.journalbox .journaltop img {
      display: none;
 }

.journalbox .boxtop {
      color: #FFB347;
      text-align: center;
      
}

.journalbox .journaltop span {
      color: #C7C7C7;
      font-family: Georgia, serif;
      font-size: 10px;
      font-weight: thin;
      text-align: right;
}

.journalbox .journaltop h2 {
      color: #FAF9F7;
      font-family: Georgia, serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding-top: 12px;
      text-shadow: -1px -1px 1px #000;
}

body.gruze div.bubbleview a {
color: white !important;
}
:link, *:visited {
color: #E67220 !important;
}
.journalbox .journaltext {
      border: 0px;
      background: transparent no-repeat left top;
      color: #FFFFFF;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 9px;
      text-align: center;
      width: 515px;
      margin: 0px 0px 0px 10px;
}

.journalbox .journalbottom {
      border: 0px;
      background: transparent url(https://fc02.deviantart.net/fs70/o/2012/026/8/d/281586337_359889_journalskinfooter.png) no-repeat right bottom;
      color: black !important;
      font-family: Georgia, serif;
      font-size: 12px;
      font-weight: regular;
      text-align: left;
      vertical-align: top;
      height: 172px;
      width: 578px;
      margin: 0px 0px 0px 0px;
}

.journalbox .journalbottom {
      height: 172px;
      width: 578px;
      color: black !important;
      font-family: Palatino Linotype, serif;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      font-variant: small-caps;
      margin-top: 25px;
      text-shadow: 1px 1px 1px #FFF;
}

.journalbox .journaltext {
      border: 0px;
      color: #242424;
      font-family: Georgia, serif;
      font-size: 12px;
      text-align: left;
      width: 370px;
      padding: 0px 0px 0px 95px;
}

.journalbox li {
background: transparent no-repeat left top;
color: #7A3A25;
font-family: Trebuchet MS, Verdana, Arial, Serif;
font-size: 12px;
text-align: left;
margin-left: 100px;
text-shadow: 1px 1px 0px #FFF;
}
