.gr{ border: none; padding: 0; background: transparent;}
.gr1, .gr2, .gr3, .gr3, .tri, .gr-top img, .list {display: none;}
body{
background: url(https://fc00.deviantart.net/fs70/o/2013/227/b/8/393402222_1097415_pattern_by_ginkgografix-d6i7jq8.png) repeat-y center;}
.gr-box{
max-width: 1200px;
background: url(https://fc06.deviantart.net/fs70/o/2013/227/4/f/393402222_1097416_footer_by_ginkgografix-d6i7icn.png) no-repeat bottom center;
margin: 0 auto 10px auto;
color: #105a8f;
padding:  0 0 150px 0;
font-family: 'Muli', Verdana, sans-serif;
font-size: 14px;}
.gr-top{
border: none;
background: url(https://fc04.deviantart.net/fs71/o/2013/227/0/e/393402222_1097417_header_by_ginkgografix-d6i7igi.png) no-repeat top center;
padding: 265px 0 4px 0;
text-align: center;}
.gr-top h2 a{
font-family: 'Sofia', cursive;
color: #105a8f;
font-size: 24px;}
.gr-top h2{
font-family: 'Sofia', cursive;
color: #105a8f;
font-size: 24px;
margin: 0 0 35px -30px;}
.gr-top span{
color: #6dbbda;
padding: 0 0 0 240px;}
.gr-body{
background: url(https://fc06.deviantart.net/fs70/o/2013/227/a/9/393402222_1097418_text_by_ginkgografix-d6i7ic2.png) no-repeat top center;
overflow:visible!important;
position:static!important;
border: none;}
.text{
width: 400px;
margin: auto;
padding: 30px 0 40px 0;}
a{color: #fff;}
h1{
font-family: 'Sofia', cursive;
color: #fff;
font-weight: normal;}
.feature{text-align: center;}
.feature img{
border: 1px solid #fff;
padding: 5px;}
blockquote{
border-left: 10px solid #fff;
padding: 15px 10px;
margin: 20px 0;
color: #41b5cd;
background: rgba(255,255,255,0.3);
border-radius: 0 20px 20px 0;
-moz-border-radius: 0 20px 20px 0;
-webkit-border-radius: 0 20px 20px 0; }
blockquote a{color: #228c94;}
p{
padding: 15px 27px;
margin: 20px -17px;
background: rgba(255,255,255,0.3);}
.bottom a{
font-size: 20px;
color: #105a8f;
font-family: 'Sofia', cursive;}
/*
- Headline
<h1>... </h1>
- Blockquote (white left border)
<blockquote>... </blockquote>
- Lighter Paragraph
<p>... </p>
- Feature Thumbs
<div class="feature">... </div>

--Footer Code--
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<sub>
<a href="https://www.deviantart.com/ginkgowerkstatt/art/Narwhal-Dreams-II-393402222">Narwhal Dreams II</a> journal skin by <a href="https://www.deviantart.com/ginkgowerkstatt">GinkgoWerkstatt</a>
</sub>
*/
