.journaltop {
background: url(https://fc02.deviantart.net/fs71/o/2010/285/a/e/182455665_153392_header.png) top left no-repeat #000;
color:#999;
font-size:10px;
height:295px;
margin:0 auto;
margin-left:57px;
padding:0;
}
.journalbox {
border:1px solid #aaa;
background-color:#000;
}
.journaltop img {
display:none;	
}
.journaltop span {
color:#555;
}
.journaltop h2 {
width:560px;
height:auto;
color:#fff;
font-family: Trajan Pro;
letter-spacing: 1px;
position: absolute;
font-size: 21px;
top: 220px;
left:80px;
text-align:left;
margin-bottom:10px;
text-shadow: 3px 3px 6px #84c6f9;
letter-spacing:2px;
}
.journaltext {
line-height:1.3em;
margin:-10px 57px 0 57px;
padding:20px;
color:#ccc;
border-top:1px inset #84c6f9;
border-bottom:1px groove #84c6f9;
border:3px solid #333;
-moz-border-radius:15px;
background:#111;

-webkit-box-shadow:0 0 15px #444; 
-moz-box-shadow: 0 0 15px #444; 
box-shadow:0 0 15px #444; 

}
a {
color:#84c6f9;
text-decoration:none !important;

}
a:hover {
color:#fff;
text-decoration:none !important;
}
ul {
padding:0;
margin:-5px 0 -20px 15px;
color:#FF0;
}
ul li {
padding:0;
margin:-5px 0 0 20px;
list-style:disc;
color:#ccc;
}
ul.list {
padding-bottom:20px;
margin:0;
}
ul.list li {
list-style:none;
margin:0 0 0 20px;
padding-left:30px;
background:#000;
color:#666;
}
ul.list li strong {
color:#84c6f9;
padding-left:30px;
background:transparent;
font-family: Trajan Pro;
font-weight:normal;
padding-right:5px;
}

.journaltext blockquote {
padding:20px;
margin-left:20px;
color:#84c6f9;
font-weight:bold;
border-left:5px solid#84c6f9;
}

b {
color:#84c6f9;
font-weight:bold;
}
.c {
margin-top:20px;
padding:0 0 40px 0;
font-family: Trajan Pro;
padding: 20px 0 30px 0;
color: #84c6f9;
letter-spacing: 1px;
}
.c a {
color: #84c6f9; text-decoration: none;
text-shadow: 3px 3px 6px #84c6f9;
}
.c a:hover {
color: #fff; text-decoration: none;
}
/*
--Footer Code--
<hr>Skin CSS by @sergbel
*/
