.journalbox {
    background-color: transparent !important;
    border: 0px black solid !important;
    background-image: url(https://fc07.deviantart.net/fs70/o/2010/117/f/f/162215299_123791_daylight_pegasus_background_by_jennyleigh.gif);
    background-repeat: no-repeat;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.journalbox .list li {
    display: none;
    background-color: black !important;
    color: black !important;
}

.journalbox .list li.a {
    display: none;
    background-color: transparent !important;
    color: #black !important;
}

.journalbox h2 {
    color: black !important;
    padding-top: 150px;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 22px;
}

.journalbox .journaltop {
    background-color: transparent !important;
    text-align: center !important;
    color: black !important;
    font-size: 10px;
}

.journalbox a {
    color: #blue !important;
}

.journalbox a:hover {
    color: red !important;
}

.journalbox .journalbottom a.commentslink {
    color: purple !important;
}

.journalbox .journalbottom a.prevlink {
    color: purple !important;
}

.journalbox .journalbottom a.commentslink:hover {
    color: white !important;
}

.journalbox .journalbottom a.prevlink:hover {
    color: white !important;
}

.journalbox .journaltext .content {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
    text-align: justify;
    overflow: auto;
    height: 500px;
    background-image: url(https://fc02.deviantart.net/fs70/o/2010/117/9/3/162215299_123792_whitetransparency601px.png);
}

.journalbox .journalbottom {
    background-color: transparent !important;
    padding-top: 6px;
}

.journalbox .journaltext {
    color: center !important;
    background-repeat: no-repeat;
    background-position: top center;
}

.journalbox .journaltop img {
    display: none !important;
}

.dividerlarge {
    background-image: url(https://fc00.deviantart.net/fs71/o/2010/117/3/2/162215299_123793_lineartdividerlargecoloredcopy.gif);
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
}

.dividermedium {
    background-image: url(https://fc08.deviantart.net/fs70/o/2010/117/f/1/162215299_123794_lineartdividermediumcopylighter.gif);
    height: 75px;
    background-repeat: no-repeat;
    width: 100%;
}

.dividersmall {
    background-image: url(https://fc07.deviantart.net/fs70/o/2010/117/3/b/162215299_123795_imgdividersmallcopylighter.gif);
    height: 50px;
    background-repeat: no-repeat;
    width: 100%;
}

.titlelarge {
    font-size: 20px;
    color: gray;
    text-align: center;
    border-bottom-style: groove;
    letter-spacing: 8px;
}

.titlemedium {
    font-size: 18px;
    text-align: center;
    color: gray;
    letter-spacing: 6px;
}

.titlesmall {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: gray;
    letter-spacing: 4px;
}

.feature {
    border-bottom-style: groove;
    border-top-style: groove;
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
/*
--Header Code--
<div class="content">
--End Header Code--
--Footer Code--
</div>
*/
