.journalbox{ 
border:none;
background: transparent url(https://fc07.deviantart.net/fs71/o/2011/205/2/d/244348051_286617_shush__by_psychocookee-d41f126.png);
}
.journalbox .list li {
background-color: transparent;
text-align: center;
color: #7d3f94;
}
.journalbox .list li.a {
background-color: transparent;
text-align: center;
color: #7d3f94;
}
.journalbox h2 {
color: #90c3d6;
}
.journalbox .journaltop{
cursor: url(https://fc07.deviantart.net/fs71/o/2011/205/f/8/244348051_286618_cursor.png), auto;
background: transparent url(https://fc06.deviantart.net/fs71/o/2011/205/7/c/244348051_286619_bunnyheader-1.png)bottom no-repeat;
text-align: center;
color: #d06c6c;
padding-top:130px;
padding-right:50px;
padding-bottom:20px;
padding-left:50px;
}
.journalbox a {cursor: url(https://fc07.deviantart.net/fs71/o/2011/205/f/8/244348051_286618_cursor.png), pointer;
color: #a25075;
}
.journalbox a:hover {cursor: url(https://fc07.deviantart.net/fs71/o/2011/205/f/8/244348051_286618_cursor.png), pointer;
color: #a25075;
}
.journalbox .journalbottom a.commentslink {
color: #a25075;
}
.journalbox .journalbottom a.prevlink {
color: #a25075;
}
.journalbox .journalbottom a.commentslink:hover {
color: #a25075;
}
.journalbox .journalbottom a.prevlink:hover {
color: #a25075;
}
.journalbox .journaltext {cursor: url(https://fc07.deviantart.net/fs71/o/2011/205/f/8/244348051_286618_cursor.png), pointer;
padding-top:50px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
color: #7a4e8a;
background: url(https://fc01.deviantart.net/fs70/o/2011/205/4/6/244348051_286620_kdcopy-1.png);
}
.journalbox .journaltop img {
display: none;
}
/*
! Background has seams

--Header Code--
<div align="center">
<a href="https://me.deviantart.com">Profile</a>|<a href="https://me.deviantart.com/gallery/">Gallery</a>|<a href="https://me.deviantart.com/favourites/">Favourites</a>|<a href="https://devnews.deviantart.com">DevNEWS</a>|<a href="https://staffappreciation.deviantart.com">Staff Appreciation</a>
</div>
--End Header Code--

--Footer Code--
<br>
<br>
<sub>
<a href="https://www.deviantart.com/nikkittie/art/Pink-Bunny-Journal-Skin-244348051">Pink Bunny Journal Skin</a> by <a href="https://www.deviantart.com/nikkittie">nikkittie</a>
</sub>
*/
