.journalbox {
color:#000000;
text-decoration:none;
background-color:black;
background-image:url(https://fc06.deviantart.net/fs71/o/2012/288/5/0/332378083_527835_2654961.png);
background-repeat:no-repeat;
background-position:center bottom;
text-align:center;
border-width:0px;
border-color:#000000;
}
.journaltop {
background-color:transparent;
background-image:url(https://fc09.deviantart.net/fs71/o/2012/288/8/1/332378083_527836_2622207.png);
background-repeat:no-repeat;
background-position:top center;
width:auto;
height:560px;
}
.journaltop img {
display:none;
}
.journaltop h2 {
color:#F5DEB3
font-size:18px;
font-family:'Courier New', serif;
line-height:1em;
letter-spacing:0.01em!important;
background-color:transparent;
text-align:center;
padding-top:518px;
}
.journaltop span {
background-color:transparent;
text-align:center;
color:#F5DEB3;
font-size:10px;
position:absolute;
top:10px;
left:20px;
letter-spacing:0.0em!important;
}
.list {
background-color:transporent;
color:#F5DEB3!important;
font: 9px 'Courier New'!important;
text-align:center!important;
margin-top:10px;
padding:10px 10px 15px 20px;
}
.list .a {
background:#000000;
}
.journalbox .commentslink {
color:#800000!important;
font-weight:bold!important;
text-decoration:none;
margin:0px 12px 0px 26px;
}
.journalbox .prevlink {
color:#800000!important;
font-weight:bold!important;
text-decoration:none;
margin:0px -30px 0px 10px;
}
.journalbox .journaltext {
color:#F5DEB3;
font-size:15px;
font-family:'Courier New';
padding-top:0px; 
padding-left:100px; 
padding-right:100px; 
margin-left:75px; 
margin-right:75px; 
background:url(https://fc09.deviantart.net/fs71/o/2012/288/e/d/332378083_527837_old_paper_texture_by_wingsofahero.jpg);
text-align:center;
border-left:3px solid #800000;
border-right:3px solid #800000;
border-top:3px solid #800000;
border-bottom:3px solid #800000;
}
.credit {
color:#F5DEB3;
font-size:10px;
font-family:'Courier New', serif;
text-decoration:none;
text-align:right;
margin-bottom:10px;
margin-right:25px;
}
/*
--Footer Code--
<br>
<br>
<div class="footer"><div class="credit"><a href="https://www.deviantart.com/aenorum/art/Supernatural-journal-skin-332378083">Supernatural journal</a> CSS made by <a href="https://www.deviantart.com/aenorum">emmenore</a>
<br>Paper texture by <a href="https://www.deviantart.com/wingsofahero">wingsofahero</a></div></div>
*/
