.journaltop {
background:url(https://fc01.deviantart.net/fs71/o/2010/346/d/c/189377970_163390_header3.png) top center no-repeat transparent;
height:142px;
margin:0 auto;
padding:5px 0 0;
border:none;
color:transparent;
max-width:800px;
font-family:Tahoma;
}
.journaltop span {
color:#ccc;
margin-left:-46px;
text-shadow:0 0 20px #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
font-weight:bold;
}
.journalbox {
max-width:800px;
background:url(https://fc07.deviantart.net/fs70/o/2010/346/2/2/189377970_163391_bg2_1.png) top center repeat-y;
margin:0;
font-family:Tahoma;
}
.journaltop img {
display:none;	
}
.journaltext {
font-family:Tahoma;
background:url(https://fc02.deviantart.net/fs70/o/2010/346/c/c/189377970_163392_bg_tile_17.png) top center repeat transparent;
box-shadow: #000 0 0 30px, #000 0 0 20px;
margin:5px 50px 10px 50px;
padding:10px 20px;
color:#b7b7b7;
font-size:135%;
font-weight: normal;
line-height:1.45em;
text-shadow:0 0 20px #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
h2 {
z-index:1000;
margin:67px 0 0 48px;
font-family:Stencil Std;
color:#ad3500;
font-size:30px;
letter-spacing: 0;
text-shadow: 1px 1px #444,
2px 2px #333,
3px 3px #222,
4px 4px #111,
5px 5px #000;
text-shadow:0 0 20px #000, 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}
a {
letter-spacing:1px;
font-family:Stencil Std;
color:#000;
text-shadow:0 0 10px #fff, 0 0 5px #121212;
text-decoration:none;
}
a:hover {
font-family:Stencil Std;
color:#ad3500;
text-shadow:0 0 20px #000, 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
text-decoration:none;
}
.journaltext ul {
margin:0;
padding:0;
}
.journaltext ul li {
line-height:2px;
margin:0 20px;
}
ul.list {
background:transparent;
margin:0 0 15px 55px;
}
ul.list .a {
background:transparent;
}
ul.list li strong {
font-family:Stencil Std;
letter-spacing:1px;
color:#000;
text-shadow:0 0 10px #fff, 0 0 5px #121212;
}
ul.list li{
letter-spacing:1px;
color:#000;
font-weight:bold;
font-size: 120%;
}

.journaltext blockquote {
margin:0;
color:#fff;
font-weight:normal;
text-shadow:0 0 20px #ad3500, 0 0 20px #ad3500, 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
font-style: italic;
letter-spacing:1px;
background: url(https://fc05.deviantart.net/fs70/o/2010/346/8/3/189377970_163393_quote.png) top left no-repeat transparent;
clear:both;
height:auto;
padding:15px 10px 10px 40px;
}
.c {
font-family:Stencil Std;
font-weight:bold;
color:#000;
border:none;
background:transparent;
text-shadow:none;
font-size:120%;
}
.journalbox .c .commentslink {
font-family:Stencil Std;
font-weight:bold;
color:#000;
border:none;
background:transparent;
text-shadow:none;
text-shadow:0 0 10px #fff, 0 0 5px #121212;
}
.journalbox .c .commentslink:hover {
font-family:Stencil Std;
font-weight:bold;
color:#ad3500;
border:none;
background:transparent;
text-shadow:none;
text-shadow:0 0 5px #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.journalbox .c .prevlink {
font-family:Stencil Std;
font-weight:bold;
color:#000;
border:none;
background:transparent;
text-shadow:none;
text-shadow:0 0 10px #fff, 0 0 5px #121212;
}
.journalbox .c .prevlink:hover {
font-family:Stencil Std;
font-weight:bold;
color:#ad3500;
border:none;
background:transparent;
text-shadow:none;
text-shadow:0 0 5px #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.skin_attribution {
font-family:Stencil Std;
font-weight:bold;
color:#000;
border:none;
background:transparent;
text-shadow:none;
text-shadow:0 0 10px #fff, 0 0 5px #121212;
}
.skin_attribution a {
text-shadow:0 0 10px #fff, 0 0 5px #121212;
font-family:Stencil Std;
font-weight:bold;
color:#000;
border:none;
background:transparent;
text-shadow:none;
}
.skin_attribution a:hover {
color:#ad3500;
text-shadow:0 0 5px #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}
/*
! Title is barely visible
*/
